.panel {
	z-index: 50;
	position: absolute;
	bottom: 97px;
	left: 0;
	width: 100%;
	font: normal 1.6rem "Roboto", sans-serif;
	color: white;
}

.panel__inner {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.6);
}

// accordion
.panel__content-show {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 25px 25px 5px 10px;

	&:hover {
		cursor: pointer;
	}
	// открывашка
	&:after {
		content: "";
		position: absolute;
		top: 10px;
		right: 25px;
		width: 10px;
		height: 10px;
		border-left: 1px solid white;
		border-bottom: 1px solid white;
		transform: rotate(-135deg);
		transition: all 0.2s ease-in-out;
	}
	&.ui-accordion-header-active {
		&:after {
			transform: rotate(-45deg);
			transition: all 0.2s ease-in-out;
		}
	}
}

.panel__content {
	height: auto;
	margin-bottom: 10px;
	padding: 0 10px 10px;
}
